.box{
  width: 200px;
  height: 300px;
  padding: 10px;
  margin: 15px;
  
  border: 1px solid yellow;
  border-radius: 4px;

  background-color: #ffa400;
  color: #000;

  text-align: center;
}

.text{
  display: -webkit-box;
  -webkit-box-orient: block-axis;
  -webkit-line-clamp: 3;

  max-width: 500px;  
  overflow: hidden;
  text-overflow: ellipsis;
}